{% extends 'base.html.twig' %}

{% block title %}Titre{% endblock %}

{% block body %}

<h1> E-commerce-Symphony 6</h1>
<p>Bienvenue dans notre boutique d'implants Cybernétiques pour développeur(se)</p>
{% endblock %}
