<!DOCTYPE html>
<html>
      <!-- mon head est inclus dans le layout head.html.twig -->
      {% include "layout/head.html.twig" %}

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
